<!doctype html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="../Images/Logo.png">
  <link rel="stylesheet" href="../Templates/general.css">
  <title>Leibniz' Project</title>
  $if(math)$
    $math$
  $endif$
</head>

<body>
  <div class="header-container">
    <div class="header">
      <img
        src="../Images/Logo.png"
        class="logo"
        width="100"
        height="100"
      >

      <div class="header-title">Leibniz' Project</div>
    </div>
  </div>

  <div class="title-bar">
    --link_index--

    <div class="title">$title$</div>
  </div>

  <div class="heart-container">
    <div class="heart">
      $body$

      --links_coq--
    </div>
  </div>

  <div class="footer">
    <div class="contribution">
      You can contribute via <a class="link-darker" href="https://github.com/mcoulont/LeibnizProject">github</a>.
    </div>

    <div class="contact">
        Contact: <a class="link-darker" href="mailto:mcoulont@yahoo.fr">mcoulont@yahoo.fr
      </a>
    </div>
  </div>
</body>
</html>
